# Dependences
bin
lib

# Build target
target

# Generated frontend codes
*.tokens
src/top/origami404/ssyc/frontend/SysY*
!src/top/origami404/ssyc/frontend/SysY.g4

# Dustbin
_trash

# compile result
test-data/**/*.c
test-data/**/*.stdout
test-data/**/*.stderr
test-data/**/*.return
test-data/**/*.res
test-data/**/*.s
test-data/**/*.llvm

# VSCode Antlr extension cache
.antlr

# Idea Projects
.idea
*.iml