# Dependences
bin
lib

# Build target
target

# Generated frontend codes
*.tokens
src/top/origami404/ssyc/frontend/SysY*
!src/top/origami404/ssyc/frontend/SysY.g4

# Dustbin
_trash

# compile result
test-data/**/*.exec
test-data/**/*.s

# VSCode Antlr extension cache
.antlr

# Idea Projects
.idea
*.iml