# Dependences
bin
lib

# Build target
target

# Dustbin
_trash

# compile result
test-data/**/*.c
test-data/**/*.stdout
test-data/**/*.stderr
test-data/**/*.return
test-data/**/*.res
test-data/**/*.s
test-data/**/*.llvm
test-data/**/*.exec

# personal test-data
test-data/personal

# VSCode Antlr extension cache
.antlr

# Idea Projects
.idea
*.iml

# Vscode Projects
.vscode

# Test script log
ssyc.log
ssyc.*.log

# Personal data
.vscode/java.code-snippets

# MacOS
.DS_store